<section class="thirteen columns">
    <h1>Education & Research</h1>
    <article>
        <header>
            <h1>BS in Computer Science</h1>
            <span>Brigham Young University</span>
            <span><address>Provo, UT</address><time>June 2015</time></span>
        </header>
        <p>
            3.75 GPA, 4 years of half-tuition scholarship, 32 ACT, 47 AP credits, high school class rank 11 of 447.<br/>
            Verisign Domain Name research with BYU Open Source Lab in Python, C, BASH, MySQL.<br/>
            AES RFC implementation with Computer Security course.<br/>
            TCP RFC implementation, network simulation, multithreaded & single-threaded event-driven client/server implementation with BSD Socket API with Networking course.<br/>
        </p>
    </article>
</section>
