<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span>Simplifile</span>
            <span><address>Provo, UT</address><time>2015 to Present</time></span>
        </header>
        <p>Full-stack development using AngularJS, Java, Spring Framework, Scala, MongoDB, MySQL, RabbitMQ, and Elastic Search 
        for SAAS products in the E-recording and mortgage lender collaboration and post-closing industry.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer & CSR</h1>
            <span>BYU English Language Center</span>
            <span><address>Provo, UT</address><time>2012 to 2015</time></span>
        </header>
        <p>Full-stack development using CakePHP and MySQL for lab scheduling and test signup webapps. 
        Development of Java ESL speech recognition software for elicited imitation exams & ESL research. 
        Customization of PHP website for international peer-reviewed academic journal.</p>
    </article>
    <article>
        <header>
            <h1>Software Engineering Intern</h1>
            <span>National Instruments</span>
            <span><address>Austin, TX</address><time>May - Aug 2014</time></span>
        </header>
        <p>Full-stack development using Java, Node.js, AngularJS for LabVIEW Cloud Dashboard IOT product. 
        Intern summer project voted most impactful to NI ($50 award).</p>
    </article>
</section>
