<section class="thirteen columns">
    <h1>Initiatives & Awards</h1>
    <article>
        <header>
            <h1>LDS Missionary</h1>
            <span><address>Mexico City, Mexico</address><time>2010 to 2012</time></span>
        </header>
        <p>
            Full-time volunteer proselytizing for the Church of Jesus Christ of Latter-day Saints. Gained Spanish fluency.
        </p>
    </article>
    <article>
        <header>
            <h1>Eagle Scout</h1>
            <span><address>Boy Scouts of America</address><time>2008</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Best use of ESRI API ($1,000 award)</h1>
            <span>Big Brothers & Big Sisters Hackathon</span>
            <span><address>Austin, TX</address><time>2014</time></span>
        </header>
        <p>
            Created a webapp to help Bigs &amp; Littles find family-friendly activities in a geographic area. Part of Hack for Change civic hacking day.
        </p>
    </article>
    <article>
        <header>
            <h1>BYU yHack</h1>
            <span><address>Brigham Young University</address><time>2014 to 2015</time></span>
        </header>
        <p>
            Participated in and presented at yHack ethical hacking club.
        </p>
    </article>
    <article>
        <header>
            <h1><a href="http://ratemybrethren.com">RateMyBrethren.com</a></h1>
            <span><address>LGBT & Mormon communities</address><time>2015</time></span>
        </header>
        <p>
            Conceived of and currently building a system for rating the LGBT-friendliness of local LDS wards and leaders. Architecture & stack include Node.js, Typescript,
            Angular 2, Elastic Search, RabbitMQ, RethinkDB, Redis.
        </p>
    </article>
</section>