<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>AngularJS &#8226; git &#8226; gradle &#8226; HTML &#8226; Java &#8226; Spring &#8226; JavaScript &#8226; PHP &#8226; Python &#8226; Elastic Search</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>ant &#8226; BASH &#8226; C &#8226; C++ &#8226; CSS &#8226; grunt &#8226; gulp &#8226; MongoDB &#8226; MySQL &#8226; Node.js &#8226; Tomcat &#8226; RabbitMQ</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C# &#8226; SQLite &#8226; Scala</em>
        </p>
    </article>
</section>